body {
	font-family: sans-serif;
	font-size: 14px;
	padding-left: 100px;	
}

h1{
		padding: 30px 150px 20px;
		font-size: 18px;
}


h2 {
		font-size: 17px;
}


ul li {
	
	padding: 10px 0;
	
	
}
.qForm__ch {
	display: block;	
	padding: 3px 15px;
}


.rez__button {
		width: 235px;
		height: 50px;
		margin: 20px 150px;
		background: #d3e0f1;
		color: #000;
		font-size: 15px;
		border: 1px solid #000;
	
}